/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
	touch-action: none;
	min-height: 100vh;
	font-size: 16px;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	height: 100%;
}

html,
* {
	box-sizing: border-box;
}

.tldraw__editor {
	/*position: fixed;
	inset: 0px;
	overflow: hidden;*/
	width: 100%;
	height: 100%;
}

.withShadow, .withShadow {
	position: relative;
}

.withShadow:before {
	content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
	box-shadow: 4px 5px 0px 0px rgba(0, 0, 0, 0.4);
}

.withShadow.rounded-full:before {
  border-radius: 100%;
}